<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('../vendor/twbs/bootstrap/dist/css/bootstrap.min.css') }}" >
    </head>
    <body>
        <div class="container-fluid">
            <div>
                <h1 class="text-center">Welcome!</h1>
            </div>
            {% include 'nav.html.twig'%}
            {% block body %}
                <div>
                    <h2 class="text-center">Accueil</h2>
                    <ol>
                        <li>Faire loisir.html.twig</li>
                        <li>Résoudre les problème de diplome</li>
                        <li>Créer un fichier style.css dans web/bundles/css/</li>
                        <li>mettre un font au body</li>
                        <li>lier pour que le css s'aplique</li>
                        <li>créer un bundle</li>
                        <li>encours...</li>
                        <li></li>
                        <li>push sur la branche du git perso</li>
                    </ol>
                </div>
            {% endblock %}
        </div>
    </body>
</html>
