{% extends '::base.html.twig' %}
{% block title %}Competences{% endblock %}
{% block body %}
    <section class="skill">
        <h2 id="skill" class="title text-center">Competences</h2>
        <ul class="list left">
            <li>html</li>
            <li>css</li>
            <li>Boostrap</li>
        </ul>
        <ul class="list right">
            <li>html</li>
            <li>css</li>
            <li>Boostrap</li>
        </ul>
    </section>
{% endblock %}
