{% extends '::base.html.twig' %}
{% block title %}diplome{% endblock %}
{% block body %}
    <section class="skill">
        <h2 id="skill" class="title text-center">diplome</h2>
        <h2 class="title">Diplomes</h2>
        <article>
            <h3 class="">2016</h3>
            <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.</p>
        </article>
        <article>
            <h3 class="">2013</h3>
            <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.</p>
        </article>
    </section>
{% endblock %}